<% include ../partials/accountHeader.ejs %>
<div class="registerContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="formContainer">
                <h2 class="text-center heading">Create an account</h2>
                <form method="POST" action="/account/register">
                    <div class="form-group">
                        <label for="" class="formLabel">Username</label>
                        <% if (message.Username) { %>
                            <p class="pull-right formValidationMessage"><%= message.Username %></p>
                        <% } %>
                        <% if (username) { %>
                            <input class="form-control" name="username" value="<%= username %>" type="text">
                        <% } else { %>
                        <input class="form-control" name="username" type="text">
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="" class="formLabel">Email</label>
                        <% if (message.Email) { %>
                            <p class="pull-right formValidationMessage"><%= message.Email %></p>
                        <% } %>
                        <% if (email) { %>
                            <input class="form-control" name="email" value="<%= email %>" type="text">
                        <% } else { %>
                            <input class="form-control" name="email" type="email">
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="" class="formLabel">Password</label>
                        <% if (message.Password != '') { %>
                            <p class="pull-right formValidationMessage"><%= message.Password %></p> 
                        <% } %>
                        <input class="form-control" name="password" type="password">
                    </div>
                    <div>
                        <p class="pull-left">Already have an account?</p>
                        <a href="/account/login" class="pull-right">Login</a>
                    </div>
                    <br>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn button">Create account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>