<% include ../partials/header.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="profileContainer">
                    <div class="profileImageContainer">
                        <img src="<%= userProfile.profileimg %>" class="img-circle">
                    </div>
                    <div class="profileCardUsernameContainer text-center">
                        <h4 class="username">
                            <a href="/profile/<%= user.username %>" class="wordwrap" id="username">
                                <%= user.username %>
                            </a>
                        </h4>
                        <p id="birthday" style="display: none;">
                            <%= userProfile.birthday %>
                        </p>
                        <p>
                            <%= userAge %>,
                                <%= userProfile.city %>
                        </p>
                    </div>
                    <div class="profileCardTagLine">
                        <p>
                            <%= userProfile.bio %>
                        </p>
                        <p class="profileCardLabel">Interests</p>
                        <p>
                            <%= userProfile.interests %>
                        </p>
                    </div>
                    <hr>
                </div>
                <!-- Profile Card -->
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="viewProfileImage">
                        <a href="<%= viewProfile.profileimg %>" data-fancybox="gallery" data-caption="Caption #1">
                            <img src="<%= viewProfile.profileimg %>" class="img-responsive">
                        </a>
                        <div class="viewProfileImageGallery">
                            <div class="viewProfileImageThumb">
                                <a href="<%= viewProfile.img1 %>" data-fancybox="gallery" data-caption="Caption #1">
                                    <img src="<%= viewProfile.img1 %>" class="img-responsive">
                                </a>
                            </div>
                            <div class="viewProfileImageThumb">
                                <a href="<%= viewProfile.img2 %>" data-fancybox="gallery" data-caption="Caption #1">
                                    <img src="<%= viewProfile.img2 %>" class="img-responsive">
                                </a>
                            </div>
                            <div class="viewProfileImageThumb">
                                <a href="<%= viewProfile.img3 %>" data-fancybox="gallery" data-caption="Caption #1">
                                    <img src="<%= viewProfile.img3 %>" class="img-responsive">
                                </a>
                            </div>
                            <div class="viewProfileImageThumb">
                                <a href="<%= viewProfile.img4 %>" data-fancybox="gallery" data-caption="Caption #1">
                                    <img src="<%= viewProfile.img4 %>" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="viewProfileInfo">
                        <h2 id="profileUsername">
                            <%= viewUser.username %>
                        </h2>
                        <hr>
                        <p class="pull-left">Age</p>
                        <p class="pull-right">
                            <%= viewAge %>
                        </p>
                        <br>
                        <br>
                        <p class="pull-left">Birthday</p>
                        <p class="pull-right" id="birthday" hidden>
                            <%= viewProfile.birthday %>
                        </p>
                        <p class="pull-right" id="myDate"></p>
                        <br>
                        <br>
                        <p class="pull-left">City</p>
                        <p class="pull-right">
                            <%= viewProfile.city %>
                        </p>
                        <br>
                        <br>
                        <p class="pull-left">Gender</p>
                        <p class="pull-right">
                            <%= viewProfile.gender %>
                        </p>
                        <br>
                        <br>
                        <p class="pull-left">Interested in</p>
                        <p class="pull-right">
                            <%= viewProfile.preference %>
                        </p>
                        <br>
                        <br>
                        <p class="pull-left">Fame Rating</p>
                        <p class="pull-right">
                            <%= viewProfile.fame %>
                        </p>
                        <br>
                        <br>
                        <p>About
                            <%= viewUser.username %>
                        </p>
                        <div class="border">
                            <p>
                                <%= viewProfile.bio %>
                            </p>
                        </div>
                        <br>
                        <p>Likes</p>
                        <div class="border">
                            <p>
                                <%= viewProfile.interests %>
                            </p>
                        </div>
                        <br>
                        <br>
                        <% if (isLiked) { %>
                            <button class="btn button pull-left" id="like">
                                <span class="glyphicon glyphicon-heart-empty"></span> Unlike</button>
                            <% } else { %>
                                <button class="btn button pull-left" id="like">
                                    <span class="glyphicon glyphicon-heart"></span> Like</button>
                                <% } %>
                                    <button type="button" id="sendMessage" class="btn button pull-right">
                                        <span class="glyphicon glyphicon-envelope"></span> Message</button>
                                    <br>
                                    <br>
                                    <div class="profileLinkGroup">
                                        <div class="pull-left">
                                            <a href="" data-toggle="modal" data-target="#blockModal">Block user</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="" data-toggle="modal" data-target="#reportModal">Report user</a>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="unmatchedModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You aren't Matched (-_-)</h4>
                </div>
                <div class="modal-body">
                    <p>Sorry, You can only send messages to people who have liked your profile</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="blockModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Block user ?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to block this user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="blockUserButton">Block</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="reportModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Report user ?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to report this user?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" id="reportUserButton">Report</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <script>
        var birthday = document.getElementById("birthday").innerText;
        birthday = birthday.trim();
        birthday = birthday.substring(0, 10);
        document.getElementById("myDate").innerHTML = birthday;

        $(function () {
            var socket = io.connect();

            var username = document.getElementById('profileUsername').innerHTML;
            var username = username.trim();
            var viewername = document.getElementById('username').innerHTML;
            var viewername = viewername.trim();

            socket.emit('send view', {
                username: username,
                viewername: viewername
            });
        });

        $("#like").click(function () {
            var username = document.getElementById('profileUsername').innerHTML;
            var username = username.trim();
            var viewername = document.getElementById('username').innerHTML;
            var viewername = viewername.trim();
            $.ajax({
                url: "/like",
                type: "POST",
                data: {
                    'username': username,
                    'viewername': viewername
                },
                success: (result) => {
                    if (result == 'liked') {
                        $('#like').empty();
                        $('#like').append('<span class="glyphicon glyphicon-heart-empty"></span> Unlike');
                    } else {
                        $('#like').empty();
                        $('#like').append('<span class="glyphicon glyphicon-heart"></span> Like');
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            });
        });

        $('#sendMessage').click(function () {
            var username = document.getElementById('profileUsername').innerHTML;
            var username = username.trim();
            var viewername = document.getElementById('username').innerHTML;
            var viewername = viewername.trim();
            $.ajax({
                url: "/verifyMatch",
                type: "GET",
                data: {
                    'username': username,
                    'viewername': viewername
                },
                success: (result) => {
                    if (result == true) {
                        window.location.href = "/message/" + username;
                    } else {
                        $("#unmatchedModal").modal("show");
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            });
        });

        $('#blockUserButton').click(function () {
            var username = document.getElementById('profileUsername').innerHTML;
            var username = username.trim();
            var viewername = document.getElementById('username').innerHTML;
            var viewername = viewername.trim();
            $.ajax({
                url: "/blockUser",
                type: "POST",
                data: {
                    'username': username,
                    'viewername': viewername
                },
                success: (result) => {
                    if (result == 'Success') {
                        $("#blockModal").modal("hide");
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            });
        });

        $('#reportUserButton').click(function () {
            var username = document.getElementById('profileUsername').innerHTML;
            var username = username.trim();
            var viewername = document.getElementById('username').innerHTML;
            var viewername = viewername.trim();
            $.ajax({
                url: "/reportUser",
                type: "POST",
                data: {
                    'username': username,
                    'viewername': viewername
                },
                success: (result) => {
                    if (result == 'Success') {
                        $("#reportModal").modal("hide");
                    }
                },
                error: (err) => {
                    console.log(err);
                }
            });
        });

    </script>
    <% include ../partials/footer.ejs %>