<% include partials/header.ejs %>
<div class="registerContainer">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="formContainer">
                <h3 class="text-center heading">Register</h3>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label for="">Username</label>
                        <% if (message.Username) { %>
                            <p class="pull-right formValidationMessage"><%= message.Username %></p>
                        <% } %>
                        <% if (username) { %>
                            <input class="form-control" name="username" value="<%= username %>" type="text">
                        <% } else { %>
                        <input class="form-control" name="username" type="text">
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <% if (message.Email) { %>
                            <p class="pull-right formValidationMessage"><%= message.Email %></p>
                        <% } %>
                        <% if (email) { %>
                            <input class="form-control" name="email" value="<%= email %>" type="text">
                        <% } else { %>
                            <input class="form-control" name="email" type="email">
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <% if (message.Password != '') { %>
                            <p class="pull-right formValidationMessage"><%= message.Password %></p> 
                        <% } %>
                        <input class="form-control" name="password" type="password">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn">Create account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>