<% include ../partials/header.ejs %>
	<script>
		$body = $("body");
		$(document).on({
			ajaxStart: function () { $body.addClass("loading"); },
			ajaxStop: function () { $body.removeClass("loading"); }
		});
	</script>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="">
					<!-- Profile Card -->
					<div class="profileImageContainer">
						<img src="<%= profile.profileimg %>" class="img-circle">
					</div>
					<div class="profileCardUsernameContainer text-center">
						<h4 class="username">
							<a href="/profile/<%= user.username %>" class="wordwrap">
								<%= user.username %>
							</a>
						</h4>
						<p id="birthday" style="display: none;">
							<%= profile.birthday %>
						</p>
						<p>
							<%= age %>,
								<%= profile.city %>
						</p>
					</div>
					<div class="profileCardTagLine">
						<p>
							<%= profile.bio %>
						</p>
						<p class="profileCardLabel">Interests</p>
						<p>
							<%= profile.interests %>
						</p>
					</div>
					<hr>
					<!-- Tab Links -->
					<button class="menuItem tablinks" onclick="openTab(event, 'suggestions')" id="suggestionsTab">Suggestions</button>
					<button class="menuItem tablinks" onclick="openTab(event, 'search')" id="searchTab">Search</button>
					<button class="menuItem tablinks" onclick="openTab(event, 'matches')" id="matchesTab">Matches</button>
					<button class="menuItem tablinks" onclick="openTab(event, 'likes')" id="likesTab">Likes</button>
					<button class="menuItem tablinks" onclick="openTab(event, 'views')" id="viewsTab">Views</button>
					<button class="menuItem tablinks" onclick="openTab(event, 'messages')" id="messagesTab">Messages</button>
				</div>
			</div>
			<div id="suggestions" class="col-md-9 tabcontent">
				<div class="">
					<div>
						<h3 class="pull-left">Suggestions</h3>
						<p id="successMessage1" class="pull-right successMessage" hidden>Updated successfully</p>
						<p id="errorMessage1" class="pull-right errorMessage" hidden>Error</p>
						<br>
						<br>
						<br>
						<div class="pull-left">
							<p>Filter</p>
							<div class="filter-by-btn-group">
								<div class="dropdown">
									<button class="btn sortButton">Age</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1">18-25</a>
										<a href="" data-filter=".ageGroup2">26-35</a>
										<a href="" data-filter=".ageGroup3">36-45</a>
										<a href="" data-filter=".ageGroup4">45 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Fame</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".fameGroup1">0-25</a>
										<a href="" data-filter=".fameGroup2">26-50</a>
										<a href="" data-filter=".fameGroup3">51-100</a>
										<a href="" data-filter=".fameGroup4">100 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Tags</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1"> - </a>
										<a href="" data-filter=".ageGroup2"> - </a>
										<a href="" data-filter=".ageGroup3"> - </a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Distance</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".distanceGroup1">5 km</a>
										<a href="" data-filter=".distanceGroup2">10 km</a>
										<a href="" data-filter=".distanceGroup3">20 km</a>
										<a href="" data-filter=".distanceGroup4">50 km</a>
										<a href="" data-filter=".distanceGroup5">50+</a>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<p>Sort</p>
							<div class="sort-by-btn-group">
								<button type="button" class="btn sortButton" data-sort-by="original-order">Default</button>
								<button type="button" class="btn sortButton" data-sort-by="age">Age</button>
								<button type="button" class="btn sortButton" data-sort-by="fame">Fame</button>
								<button type="button" class="btn sortButton" data-sort-by="tags">Tags</button>
								<button type="button" class="btn sortButton" data-sort-by="distance">Distance</button>
							</div>
						</div>
						<br>
						<br>
						<br>
						<hr>
					</div>
				</div>
				<div id="suggestionResults" class="grid">
					<div class="grid-sizer"></div>
				</div>
			</div>
			<div id="search" class="col-md-9 tabcontent">
				<div class="">
					<form action="/home/search">
						<label for="searchPreference">Search for</label>
						<select name="searchPreference" id="searchPreference">
							<option value="female" <% if (profile.preference=='female' ){ %> selected
								<% } %>>Women</option>
							<option value="male" <% if (profile.preference=='male' ){ %> selected
								<% } %>>Men</option>
							<option value="bi" <% if (profile.preference=='bi' ){ %> selected
								<% } %>>Other</option>
						</select>
						<label for="searchFromAge">Between Age</label>
						<input type="text" id="searchFromAge" class="searchAgeInput" value="18">
						<label for="searchToAge">and</label>
						<input type="text" id="searchToAge" class="searchAgeInput" value="59">
						<label for="searchDistance">Within</label>
						<select name="searchDistance" id="searchDistance">
							<option value="5">5</option>
							<option value="10">10</option>
							<option value="20">20</option>
							<option value="50">50</option>
							<option value="100">100</option>
						</select>
						<label>km's from me</label>
						<br>
						<button class="btn button pull-right" type="button" id="searchButton" onclick="search()">Search</button>
					</form>
					<br>
					<br>
					<div class="pull-left">
						<p>Filter</p>
						<div class="filter-by-btn-group">
							<div class="dropdown">
								<button class="btn sortButton">Age</button>
								<div class="dropdown-content">
									<a href="" data-filter="*">All</a>
									<a href="" data-filter=".ageGroup1">18-25</a>
									<a href="" data-filter=".ageGroup2">26-35</a>
									<a href="" data-filter=".ageGroup3">36-45</a>
									<a href="" data-filter=".ageGroup4">45 +</a>
								</div>
							</div>
							<div class="dropdown">
								<button type="button" class="btn sortButton">Fame</button>
								<div class="dropdown-content">
									<a href="" data-filter="*">All</a>
									<a href="" data-filter=".fameGroup1">0-25</a>
									<a href="" data-filter=".fameGroup2">26-50</a>
									<a href="" data-filter=".fameGroup3">51-100</a>
									<a href="" data-filter=".fameGroup4">100 +</a>
								</div>
							</div>
							<div class="dropdown">
								<button type="button" class="btn sortButton">Tags</button>
								<div class="dropdown-content">
									<a href="" data-filter="*">All</a>
									<a href="" data-filter=".ageGroup1"> - </a>
									<a href="" data-filter=".ageGroup2"> - </a>
									<a href="" data-filter=".ageGroup3"> - </a>
								</div>
							</div>
							<div class="dropdown">
								<button type="button" class="btn sortButton">Distance</button>
								<div class="dropdown-content">
									<a href="" data-filter="*">All</a>
									<a href="" data-filter=".distanceGroup1">5 km</a>
									<a href="" data-filter=".distanceGroup2">10 km</a>
									<a href="" data-filter=".distanceGroup3">20 km</a>
									<a href="" data-filter=".distanceGroup4">50 km</a>
									<a href="" data-filter=".distanceGroup5">50+</a>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-right">
						<p>Sort</p>
						<div class="sort-by-btn-group">
							<button type="button" class="btn sortButton" data-sort-by="original-order">Default</button>
							<button type="button" class="btn sortButton" data-sort-by="age">Age</button>
							<button type="button" class="btn sortButton" data-sort-by="fame">Fame</button>
							<button type="button" class="btn sortButton" data-sort-by="tags">Tags</button>
							<button type="button" class="btn sortButton" data-sort-by="distance">Distance</button>
						</div>
					</div>
					<br>
					<br>
					<br>
				</div>
				<hr>
				<div id="searchResults" class="grid">
					<div class="grid-sizer"></div>
				</div>
			</div>
			<div id="matches" class="col-md-9 tabcontent">
				<div class="">
					<div>
						<h3 class="pull-left">Matches</h3>
						<p id="successMessage1" class="pull-right successMessage" hidden>Updated successfully</p>
						<p id="errorMessage1" class="pull-right errorMessage" hidden>Error</p>
						<br>
						<br>
						<br>
					</div>
				</div>
				<hr>
			</div>
			<div id="likes" class="col-md-9 tabcontent">
				<div class="">
					<div>
						<h3 class="pull-left">Likes</h3>
						<p id="successMessage1" class="pull-right successMessage" hidden>Updated successfully</p>
						<p id="errorMessage1" class="pull-right errorMessage" hidden>Error</p>
						<br>
						<br>
						<br>
						<div class="pull-left">
							<p>Filter</p>
							<div class="filter-by-btn-group">
								<div class="dropdown">
									<button class="btn sortButton">Age</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1">18-25</a>
										<a href="" data-filter=".ageGroup2">26-35</a>
										<a href="" data-filter=".ageGroup3">36-45</a>
										<a href="" data-filter=".ageGroup4">45 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Fame</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".fameGroup1">0-25</a>
										<a href="" data-filter=".fameGroup2">26-50</a>
										<a href="" data-filter=".fameGroup3">51-100</a>
										<a href="" data-filter=".fameGroup4">100 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Tags</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1"> - </a>
										<a href="" data-filter=".ageGroup2"> - </a>
										<a href="" data-filter=".ageGroup3"> - </a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Distance</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".distanceGroup1">5 km</a>
										<a href="" data-filter=".distanceGroup2">10 km</a>
										<a href="" data-filter=".distanceGroup3">20 km</a>
										<a href="" data-filter=".distanceGroup4">50 km</a>
										<a href="" data-filter=".distanceGroup5">50+</a>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<p>Sort</p>
							<div class="sort-by-btn-group">
								<button type="button" class="btn sortButton" data-sort-by="original-order">Default</button>
								<button type="button" class="btn sortButton" data-sort-by="age">Age</button>
								<button type="button" class="btn sortButton" data-sort-by="fame">Fame</button>
								<button type="button" class="btn sortButton" data-sort-by="tags">Tags</button>
								<button type="button" class="btn sortButton" data-sort-by="distance">Distance</button>
							</div>
						</div>
						<br>
						<br>
						<br>
					</div>
				</div>
				<hr>
				<div id="likesResults" class="grid">
					<div class="grid-sizer"></div>
				</div>
			</div>
			<div id="views" class="col-md-9 tabcontent">
				<div class="">
					<div>
						<h3 class="pull-left">Views</h3>
						<p id="successMessage1" class="pull-right successMessage" hidden>Updated successfully</p>
						<p id="errorMessage1" class="pull-right errorMessage" hidden>Error</p>
						<br>
						<br>
						<br>
						<div class="pull-left">
							<p>Filter</p>
							<div class="filter-by-btn-group">
								<div class="dropdown">
									<button class="btn sortButton">Age</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1">18-25</a>
										<a href="" data-filter=".ageGroup2">26-35</a>
										<a href="" data-filter=".ageGroup3">36-45</a>
										<a href="" data-filter=".ageGroup4">45 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Fame</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".fameGroup1">0-25</a>
										<a href="" data-filter=".fameGroup2">26-50</a>
										<a href="" data-filter=".fameGroup3">51-100</a>
										<a href="" data-filter=".fameGroup4">100 +</a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Tags</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".ageGroup1"> - </a>
										<a href="" data-filter=".ageGroup2"> - </a>
										<a href="" data-filter=".ageGroup3"> - </a>
									</div>
								</div>
								<div class="dropdown">
									<button type="button" class="btn sortButton">Distance</button>
									<div class="dropdown-content">
										<a href="" data-filter="*">All</a>
										<a href="" data-filter=".distanceGroup1">5 km</a>
										<a href="" data-filter=".distanceGroup2">10 km</a>
										<a href="" data-filter=".distanceGroup3">20 km</a>
										<a href="" data-filter=".distanceGroup4">50 km</a>
										<a href="" data-filter=".distanceGroup5">50+</a>
									</div>
								</div>
							</div>
						</div>
						<div class="pull-right">
							<p>Sort</p>
							<div class="sort-by-btn-group">
								<button type="button" class="btn sortButton" data-sort-by="original-order">Default</button>
								<button type="button" class="btn sortButton" data-sort-by="age">Age</button>
								<button type="button" class="btn sortButton" data-sort-by="fame">Fame</button>
								<button type="button" class="btn sortButton" data-sort-by="tags">Tags</button>
								<button type="button" class="btn sortButton" data-sort-by="distance">Distance</button>
							</div>
						</div>
						<br>
						<br>
						<br>
					</div>
				</div>
				<hr>
				<div id="viewResults" class="grid">
					<div class="grid-sizer"></div>
				</div>
			</div>
			<div id="messages" class="col-md-9 tabcontent">
				<div class="">
					<div>
						<h3 class="pull-left">Messages</h3>
						<p id="successMessage1" class="pull-right successMessage" hidden>Updated successfully</p>
						<p id="errorMessage1" class="pull-right errorMessage" hidden>Error</p>
						<br>
						<br>
						<br>
					</div>
				</div>
				<hr>
			</div>
		</div>
		<div class="modal"></div>
		<script type="text/javascript" src="/js/openTab.js"></script>
		<!-- Switch Tabs -->
		<script type="text/javascript" src="/js/index.js"></script>
		<!-- Ajax form submit -->
		<script>
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("suggestionsTab").click();
		</script>
		<% include ../partials/footer.ejs %>